body{
    background-color:rgb(255, 208, 0);
}

.jumbotron {
    padding: .6rem;
}

#userNameInputContainer {
    margin-top:15px;
}

.btn-outline-secondary {
    color:#ffffff;
    background-color: rgb(187, 0, 0);
border-color:rgb(124, 0, 0); 
}

.btn-outline-secondary:hover{
    color:#ffffff;
    background-color: rgb(250, 0, 0);
border-color:rgb(163, 0, 0); 
}
.btn-outline-secondary:active{
    color:#ffffff;
    background-color: rgb(250, 0, 0);
border-color:rgb(163, 0, 0); 
}

#chatBox{
    margin-top:25px;
}

#chatBoxInput {
    display: flex;
    justify-content: flex-end;
}

/* add this class to card ids to show whose turn it is */
.selected {
    border: 5px solid #9c0404;
}

.welcomeDiv {
    font-size:24px;
    padding: 16.5px 0px;
}

.card {
    box-shadow: 1px 5px 15px #927f0096;
}

#playerOneCard {
    height:200px;
}

#playerTwoCard {
    height:200px;
}

.waitingOneDiv {
    font-size:24px;
    padding: 16.5px 0px;
}

.waitingTwoDiv {
    font-size:24px;
    padding: 16.5px 0px;
}